header .nav-link{
    padding: 10px 20px;
    margin-right: 5px;
}

header .nav-link:hover{
    color: white;
}

header .nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(162, 179, 203);
    border-radius: 4px;
    width: 100%;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.4s;
    transform-origin: right;
}

header .nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar_mb{
    margin-bottom: 50px;
}